/* index-page  */
.index-page .card-filters ul {
	padding: 5px 0;
}
.index-page .card-filters ul li {
	padding: 0;
}
.index-page .card-search .form-group {
	padding-bottom: 0px !important;
}
.index-page .card-search .btn {
	margin-top: 0px;
}
.index-page .tag-buttons .btn {
	margin: 2px 1px;
}
/* card-event */
.card.card-event {
	height: 450px;
	overflow: hidden;
	margin-top: 0;
}
.card.card-event .card-blur {
	width: 100%;
	top: 400px;
	height: 50px;
	position: absolute;
	background: linear-gradient(transparent, white);
}
.card.card-event .card-image {
	margin-top: 15px;
	height: unset;
	max-width: 400px;
}
.card.card-event .card-image .card-tags, .card.card-event .card-img-top .card-tags {
	text-align: center;
	margin-top: -30px;
}
.label.label-white {
    color: black;
}

/* event-page */
.event-page .page-header, .event-page .page-header {
	min-height: unset;
	height: 470px;
}
.event-page .page-header .container {
	padding-top: 100px;
}
.event-page .section-text {
	padding-top: 20px;
}

/* add page */
.pac-logo::after {
	/*display: none;*/
}
.btn.btn-fab.btn-fab-tip {
	width: 30px;
	min-width: 30px;
	height: 30px;
	padding-top: 1px;
}
